/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom styles */

*,
*::before,     
*::after {
    box-sizing: border-box;
}
body {
    font-size: 16px;
}
/* variables */
:root {
    --primary:#5E55A3;
    --secondary:#37CB8A;
}

/* flex */

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.justify-center {
    justify-content: center;
}
/* padding */
.padding {
    padding: 150px;
}

/* general */

.body {
    background-image: linear-gradient(
    rgba(238, 75, 73, 0.7),
    rgba(238,75,73, 0.7)
  ),url(./assets/bg-intro-desktop.png);
  height: 100vh;
  width: 100vw;
}

.article {
    width: 48%;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    padding: 30px 30px;
}
.article h1 {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 20px;
}
.article p {
    line-height: 1.5;
    font-size: 18px;
}
/* form section */
.form {
    width: 48%;
    height: 100%;
}
.fieldset {
    padding: 30px 30px;
    background-color: white;
    box-shadow: 0px 10px 5px hsl(1, 85%, 68%);
    border-radius: 10px;
}
.fieldset input { 
    display: block;
    padding: 15px 0px;
    width: 100%;
    padding-left: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    color: var(--primary);
}

.username {
    border: 1px solid var(--primary);

}
.active::placeholder  {
    color: black;
}
.btn-top {
    width: 100%;
    border-radius: 10px;
    background-color: var(--primary);
    text-align: center;
    padding: 15px 0px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 5px rgba(253,122,120, 1);
    border: none;
}
.btn-bottom {
    border-radius: 10px;
    border: none;
    background-color: var(--secondary);
    color: white;
    padding: 15px 0px;
    width: 100%;
    margin-bottom: 15px;
}
.fieldset p {
    font-size: 12px;
    text-align: center;
}
.fieldset span {
    color: rgba(253,122,120, 1);
}